# Ignore the virtual environment directory
venv/
# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore environment settings files
.env
.venv

# Ignore Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Ignore IDE/editor config files
.idea/
.vscode/

# Ignore log files
*.log

# Ignore system files
.DS_Store

# Ignore database files (if applicable)
*.sqlite3
*.pth
*.pt
images/
